<div *ngFor="let hero of heroes" class="admin-hero-container mb-2">
  <div class="row hero-name">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <span class="mr-auto">{{ hero.name }}</span>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 text-right">
      <a (click)="modifyHero('edit', hero.id)" class="hero-btn text-warning">
        <i class="material-icons">edit</i>
      </a>
      <a (click)="modifyHero('delete', hero.id)" class="hero-btn text-danger">
        <i class="material-icons">delete</i>
      </a>
    </div>
  </div>
</div>
