<div *ngFor="let hero of heroes" class="hero-container mb-2">
  <div class="row hero-name">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <span class="mr-auto">{{ hero.name }}</span>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 text-right">
      <a (click)="getHero(hero.id)" class="hero-btn">Details</a>
    </div>
  </div>
</div>
