.hero-container {
  padding: .5rem;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  align-content: center;
}

.hero-btn {
  color: #0052CC !important;
  font-weight: 300;
  cursor: pointer;
}
