<nav [ngClass]="navClasses()">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Tour of Heroes</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          *ngFor="let link of links"
          routerLink="{{link.link}}"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item nav-link">{{ link.title }}</a>
      </div>
    </div>
  </div>
</nav>
