.navbar {
  padding: 1.5rem .5rem;
  box-shadow: rgba(23, 43, 77, 0.2) 0px 1px 1px, rgba(23, 43, 77, 0.25) 0px 0px 0.5px 0px;
}

.navbar-bg {
  background-color: #0052CC;
}

.navbar-bg-admin {
  background-color: #212121;
}
