<app-navbar [isAdmin]=false></app-navbar>
<div class="container">
  <div class="heroes-content">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <div class="card-header">
            List of Heroes
          </div>
          <div class="card-body">
            <app-hero-list (idEvent)="idEventHandler($event)"></app-hero-list>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-8">
        <div class="card">
          <div class="card-header">
            Hero Information
          </div>
          <div class="card-body">
            <app-hero-list-details [activeHero]="activeHero"></app-hero-list-details>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
