<app-navbar [isAdmin]=true></app-navbar>
<div class="container">
  <div class="admin-content">
    <div class="row">
      <div class="col-12 text-right pb-3">
        <a routerLink="/admin/hero/add" class="btn btn-primary">Add Hero</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <div class="card-header">List of Heroes</div>
          <div class="card-body">
            <app-admin-hero-list (actionEvent)="actionEventHandler($event)"></app-admin-hero-list>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-8">
        <div class="card">
          <div class="card-header">Hero</div>
          <div class="card-body">
            <app-admin-hero-edit [activeHero]="activeHero"></app-admin-hero-edit>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
