.hero-container {
  width: 100%;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: rgba(23, 43, 77, 0.2) 0px 1px 1px, rgba(23, 43, 77, 0.25) 0px 0px 0.5px 0px;
  overflow: hidden;
}

.hero-picture {
  width: inherit;
}

.hero-info {
  padding: 1rem;
}

.hero-name {
  display: block;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.hero-description {
  display: block;
  margin-bottom: .5rem;
  font-weight: 300;
}

.hero-accomplishment {
  font-size: .95rem;
  font-weight: 300;

  &.count {
    font-weight: bold;
  }
}
