<div class="row">
  <div *ngFor="let hero of heroes" class="col-xs-12 col-md-4 mb-2">
    <div class="hero-container">
      <app-hero-picture [hero]="hero" class="hero-picture"></app-hero-picture>
      <div class="hero-info">
        <span class="hero-name">{{ hero.name  }}</span>
        <span class="hero-description">{{ hero.description }}</span>
        <span class="hero-accomplishment">Accomplishments: </span>
        <span class="hero-accomplishment count">1</span>
      </div>
    </div>
  </div>
</div>
