<app-navbar [isAdmin]=true></app-navbar>
<div class="container">
  <div class="admin-hero-add-content">
    <div class="row">
      <div class="col-12 pb-3">
        <a routerLink="/admin" class="btn btn-primary">Back</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">Hero</div>
          <div class="card-body">
            <div class="form-group">
              <label>Name</label>
              <input
                [(ngModel)]="hero.name"
                class="form-control"
                type="text"
                placeholder="Name">
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea
                [(ngModel)]="hero.description"
                class="form-control"
                rows="3"
                placeholder="Description"></textarea>
            </div>
            <button
              (click)="addHero(hero)"
              class="btn btn-primary"
              type="button">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
