<div *ngIf="activeHero">
  <div class="form-group">
    <label>Name</label>
    <input
      [(ngModel)]="activeHero.name"
      class="form-control"
      type="text"
      placeholder="Name">
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea
      [(ngModel)]="activeHero.description"
      class="form-control"
      rows="3"
      placeholder="Description"></textarea>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input
        [(ngModel)]="activeHero.isActive"
        class="form-check-input"
        type="checkbox">
      <label class="form-check-label">Is Active</label>
    </div>
  </div>
  <button
    (click)="updateHero(activeHero.id, activeHero)"
    class="btn btn-primary"
    type="button">Update</button>
</div>
