@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto:300,400&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Nunito", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
