<div *ngIf="activeHero" class="row">
  <div class="col-xs-12 col-md-4">
    <app-hero-picture [hero]="activeHero" class="hero-picture"></app-hero-picture>
  </div>
  <div class="col-xs-12 col-md-8">
    <span class="hero-info hero-name">{{ activeHero.name }}</span>
    <span class="hero-info hero-description">{{ activeHero.description }}</span>
  </div>
</div>
