<app-navbar [isAdmin]=false></app-navbar>
<div class="container home-content">
  <div class="home-title-container">
    <span class="home-title">Top Heroes</span>
  </div>
  <app-hero-list-top></app-hero-list-top>
</div>
